@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Helvetica Neue", system-ui, sans-serif;
  }
  :root {
    --color-bkg-mate: 60deg 9% 98%;
    --color-bkg-vivid: 60deg 5% 96%;
    --color-content-mate: 30deg 6% 25%;
    --color-content-vivid: 24deg 10% 10%;
    --color-accent-1: 60deg 5% 90%;
    --color-accent-2: 161deg 35% 25%;
    --color-accent-3: 24deg 2% 35%;
  }
  @media (prefers-color-scheme: dark) {
  :root {
    --color-bkg-mate: 24deg 0% 16%;;
    --color-bkg-vivid: 30deg 0% 18%;
    --color-content-mate: 60deg 5% 90%;
    --color-content-vivid: 60deg 5% 92%;
    --color-accent-1: 60deg 5% 90%;
    --color-accent-2: 161deg 35% 25%;
    --color-accent-3: 24deg 2% 82%;
  }
}
  :root[data-theme="dark"] {
    --color-bkg-mate: 24deg 0% 16%;;
    --color-bkg-vivid: 30deg 0% 18%;
    --color-content-mate: 60deg 5% 90%;
    --color-content-vivid: 60deg 5% 92%;
    --color-accent-1: 60deg 5% 90%;
    --color-accent-2: 161deg 30% 25%;
    --color-accent-3: 24deg 2% 82%;
  }
  
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Firefox */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
   /* Hide scrollbar for IE, Edge and Firefox */
   .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
}


html {
  scroll-behavior: smooth;
}

/* body * {
  @apply transition-colors duration-300;
} */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


a:hover {
  cursor: pointer;
}

.about-bg {
  background-image: url("../src/assets/images/photo-about.jpg");
  background-size: cover;
  background-position: top;
  /* Other styles */
  font-family: sans-serif;
  color: #333;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
